*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
a
{
    text-decoration: none;
}
li
{
    list-style: none;
}
.language-img
{
    width: 100px;
    display: block;
    border-radius: 5px;
}
.drop-down-body
{
    position: relative;
}
.drop-down-btn
{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    border: 3px solid #cfcfcf;
    cursor: pointer;
}

.language-menu
{
    position: absolute;
    background-color: #f3f3f3;
    border-radius: 5px;
    border: 3px solid #27a3c5;
    opacity: -0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
}

.language-item
{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 0.4s;
}
.language-title
{
    padding-left: 10px;
    width: 105px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.drop-down-btn:hover + .language-menu,
.language-menu:hover
{
    opacity: 1;
    visibility: visible;
}

.language-item:hover
{
    background-color: #5fcbff;
}
